InheritParentConfig: true
Checks: >-
    readability-*,
    -readability-identifier-naming,
    -readability-magic-numbers,
    cppcoreguidelines-*,
    -cppcoreguidelines-pro-type-static-cast-downcast,
    modernize-*,
    -modernize-use-trailing-return-type,
    misc-*,
    -misc-no-recursion,
    portability-*,
    performance-*
CheckOptions:
 - key: readability-identifier-length.IgnoredParameterNames
   value: ^(n|id|a|b|x|y)$
 - key: readability-identifier-length.IgnoredLoopCounterNames
   value: ^[ijkxy_]$
...
