---
# Inherits the repository-wide configuration in //.clang-tidy and additionally enables
# bounds-safety checks that libs/bsw/util is already compliant with.
InheritParentConfig: true
Checks: >-
    cppcoreguidelines-avoid-c-arrays,
    cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    cppcoreguidelines-pro-bounds-pointer-arithmetic
